.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess


vendor/*

application/config/database.php
application/config/config.php
application/controllers/tests.php

application/models/proxies/*

composer.lock

