<!-- start of div.container -->
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="page-header">
        <h1>사용자 리스트</h1>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
          
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>구분</th>
              <th>이름</th>
              <th>아이디</th>
              <th>등록일자</th>
              <th>상태</th>
              <th>&nbsp;</th>
            </tr>
          </thead>

          <tbody>
<?php
$colors = array( "success", "error", "warning", "info");
foreach($rows as $row):
  $index = mt_rand(0, 3);
?>
            <tr class="<?=$colors[$index]?>">
              <td><?=$row->ID?></td>
              <td><?=$row->GUBUN?></td>
              <td><?=$row->NAME?></td>
              <td><?=$row->USERNAME?></td>
              <td><?=$row->DATE_REGISTER?></td>
              <td><?=$row->STATUS?></td>
              <td><?=''?></td>
            </tr>
<?php
endforeach;
?>
          </tbody>

        </table>

        <p>
          <a class='ajax' href="/assets/content/ajax.html" title="Homer Defined">Outside HTML (Ajax)</a>
        </p>
        <p>
          <a class='iframe' href="<?=site_url('users/form')?>" title="사용자를 등록하세요">iframe open</a>
        </p>
        <p>
          <a href="/users/add"><button class="btn btn-primary"><i class="icon-pencil"></i>&nbsp;사용자 등록</button></a>
        </p>

        </div>
      </div>
    </div><!-- end of container -->
      <script type="text/javascript">
      $(document).ready(function(){
          $(".ajax").colorbox({'opacity': '0.6', 'width': '80%'});
          $(".iframe").colorbox({
            'iframe'  : true,
            'width'   : '50%',
            'height'  : '80%'
          });
      });
      </script>