<div class="container">
	<div class="row">
		<div class="well">
			<h3>폼 레이아웃 -- 예제</h3>
		</div>
		<form action="" role="form col-md-12">
			<div class="form-group row">
                <lable for="category" class="control-label col-md-3">장비 종류</lable>
                	<div class="col-md-4">
	                  <select id="category" name="category" class="form-control">
	                    <option value="">-- 장비종류를 선택하세요--</option>
	                    <option value="1">POS스캐너</option>
	                    <option value="2">고정스캐너</option>
	                    <option value="3">모니터_CRT</option>
	                    <option value="4">모니터_LCD</option>
	                    <option value="5">서버</option>
	                    <option value="6">프린터_점포용</option>
	                  </select>
                	</div>
                	<div class="col-md-5">
	                  <select name="part_id" id="part_id" class="form-control">
	                    <option>--선택하세요--</option>
	                    <option>--선택하세요--</option>
	                    <option>--선택하세요--</option>
	                    <option>--선택하세요--</option>
	                  </select>
	              </div>
              </div>

              <div class="form-group">
                <lable for="inventory_id" class="control-label">창고 선택</lable>
                  <select id="inventory_id" class="form-control">
                    <option>--선택하세요--</option>
                    <option value="1">가산</option>
                    <option value="2">대전</option>
                    <option value="3">부산</option>
                    <option value="4">제주</option>
                  </select>
              </div>
		</form>
	</div>
</div>