<div class="container">
	<div class="row">
		<div class="well">
			<h3>폼 레이아웃 -- 예제</h3>
		</div>
		<form action="" role="form col-md-12">
			<div class="form-group row">
                <label for="category" class="control-label col-md-3">장비 종류</label>
                	<div class="col-md-4">
	                  <select id="category" name="category" class="form-control">
	                    <option value="">-- 장비종류를 선택하세요--</option>
	                    <option value="1">POS스캐너</option>
	                    <option value="2">고정스캐너</option>
	                    <option value="3">모니터_CRT</option>
	                    <option value="4">모니터_LCD</option>
	                    <option value="5">서버</option>
	                    <option value="6">프린터_점포용</option>
	                  </select>
                	</div>
                	<div class="col-md-5">
	                  <select name="part_id" id="part_id" class="form-control">
	                    <option>--선택하세요--</option>
	                    <option>--선택하세요--</option>
	                    <option>--선택하세요--</option>
	                    <option>--선택하세요--</option>
	                  </select>
	              </div>
              </div>

              <div class="form-group">
                <label for="inventory_id" class="control-label">창고 선택</label>
                  <select id="inventory_id" class="form-control">
                    <option>--선택하세요--</option>
                    <option value="1">가산</option>
                    <option value="2">대전</option>
                    <option value="3">부산</option>
                    <option value="4">제주</option>
                  </select>
              </div>

              <div class="panel panel-danger">
              	<div class="panel-heading">수량 입력</div>
              	<div class="panel-body">
              		<div class="form-group row">
              			<label for="qty_new" class="control-label col-md-2">신품</label>
						<div class="col-md-4">
	              			<input type="text" id="qty_new" name="qty_new" class="form-control" placeholder="0">
						</div>
						<div class="col-md-6">개&nbsp;</div>
              		</div>
              		<div class="form-group row">
              			<label for="qty_used" class="control-label col-md-2">중고</label>
						<div class="col-md-4">
	              			<input type="text" id="qty_used" name="qty_used" class="form-control" placeholder="0">
						</div>
						<div class="col-md-6">개&nbsp;</div>
              		</div>
              	</div><!-- end of panel-body -->
              </div>

				<!-- 테이블 사용 -->
          	<div class="panel panel-success">
              	<div class="panel-heading">수량 입력</div>
              	<div class="panel-body">
              		<table class="table">
              			<tr>
              				<td>신품</td>
              				<td><input type="text" id="qty_new" name="qty_new" class="form-control" placeholder="0"></td>
              				<td>개</td>
              				<td></td>
              				<td></td>
              				<td></td>
              			</tr>
              			<tr>
              				<td>중고</td>
              				<td><input type="text" id="qty_used" name="qty_used" class="form-control" placeholder="0"></td>
              				<td>개</td>
              				<td></td>
              				<td></td>
              				<td></td>
              			</tr>
              		</table>
              	</div><!-- end of panel-body -->
              </div>
		</form>
	</div>
  <div class="row">
    <div class="text-center">
      <button class="demo btn btn-default btn-large" data-toggle="modal" href="#myModal">View Demo</button>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" href="#stack1">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" tabindex="-1" data-focus-on="input:first" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-success" data-toggle="modal" href="#stack2">또 띄우기</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="stack1" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Stack One</h4>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
    <p>One fine body…</p>
    <p>One fine body…</p>
    <input class="form-control" type="text" data-tabindex="1" />
    <input class="form-control" type="text" data-tabindex="2" />
    <button class="btn btn-default" data-toggle="modal" href="#stack2">Launch modal</button>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
    <button type="button" class="btn btn-primary">Ok</button>
  </div>
</div>

<div id="stack2" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Stack Two</h4>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
    <p>One fine body…</p>
    <input class="form-control" type="text" data-tabindex="1" />
    <input class="form-control" type="text" data-tabindex="2" />
    <button class="btn btn-default" data-toggle="modal" href="#stack3">Launch modal</button>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
    <button type="button" class="btn btn-primary">Ok</button>
  </div>
</div>